:root {
  --background: #f3f3f3;
  --foreground: #707984;
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-minecraft-regular: var(--font-minecraft-regular);
  --font-minecraft-italic: var(--font-minecraft-italic);
  --font-lovelt: var(--font-lovelt);
  --font-helvetica-regular: var(--font-helvetica-regular);
  --font-helvetica-bold: var(--font-helvetica-bold);
  --font-helvetica-condensed: var(--font-helvetica-condensed);
  --font-helvetica-light: var(--font-helvetica-light);
  --font-helvetica-black: var(--font-helvetica-black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-lovelt), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/artwingscursor3.cur') 16 16, auto;

  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-display: swap;

}
section { 
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
p{
  line-height: 1.5rem;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #110708 #F0F8FF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-track:active {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #707984;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #707984;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #707984;
}



/* a:hover{
  animation-duration: 5ms;
  transition: color .3s ease-in-out;
  color: rgb(255, 255, 255);
  text-underline-offset: 8px;
} */

button{
  background-color: #faf9f600;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  border: 1px solid gray;
  width: fit-content;
}
::-webkit-file-upload-button{
  background-color: #FAF9F6;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
}

.toggleButton {
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.toggleButton:hover {
  background-color: #0056b3;
}




a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: url('/artwingscursor3.cur') 16 16, auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
