/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-weight: 300;
  width: 100%;
  z-index: 1000;
  margin: auto;
  background-color: transparent;
  color: rgba(255, 255, 255, 0);
  padding: 4vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav_hidden {
  transform: translateY(-100%);
  border-bottom: none;
}

.nav_visible {
  transform: translateY(0);
}

.nav:hover {
  color: #707984;
  transition: color 0.3s ease-in-out;
}

/* Desktop Menu */
.nav_list {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 2rem;
  align-items: center;
}

.nav_list ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.nav_list li {
  font-family: system-ui ,'Inter', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
  /* Time and easing for the animation */
  transition: transform 1.25s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav_list li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 15%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.3) 85%,
    transparent 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav_list li:hover::after {
  opacity: 1;
}

.nav_list li:hover {
  transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  /* Lifts the text up by 2 pixels */
  transform: translateY(-2px);
}

.nav_list li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.page_current {
  color: #707984;
}

.nav_logo {
  height: 3rem;
  width: auto;
  position: relative;
  z-index: 100;
}

/* Mobile Menu Button */
.navButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 19px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100; /* Make sure it stays above the menu */
}

.navButton .bar {
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.navButton.open .bar:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.navButton.open .bar:nth-child(2) {
  opacity: 0;
}

.navButton.open .bar:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}


/* Mobile-Specific Styles */
@media (max-width: 1000px) {
  .navButton {
    display: flex;
  }

  .nav {
    position: fixed;
  }

  .nav_list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/metaltextureverticaledited2.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
  }

  .nav_list ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .nav_list li {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }

  .nav_list.active {
    opacity: 1;
    visibility: visible;
  }

  .nav_hidden {
    transform: translateY(0%);
    border-bottom: none;
  }
  
  .nav_visible {
    transform: translateY(0);
  }
}
